*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzw
*.pyzwz
*.pyzwzw
*.pyzwzwzw
*.pyzwzwzwzw
*.pyzwzwzwzwzw

__pycache__/
*.ipynb_checkpoints/
*.pth
*.pt
*.pkl
*.pth.tar
*.pt.tar
*.pkl.tar
*.pth.tar.gz
*.pt.tar.gz
*.pkl.tar.gz